*{
    margin: 0px;
    padding: 0px;
}

#sign,
#get-start,
#shorten,
#copy {
    background-color: hsl(180, 66%, 49%);
    border: none;
}
.hidden{
    display: none;
}
#input-field {
    background-image: url("images/bg-shorten-desktop.svg"), linear-gradient( hsl(257, 27%, 26%), hsl(257, 27%, 26%));
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(60%);
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: hsl(0, 0%, 75%);
    cursor: pointer;
}
a:hover{
   color: hsl(255, 11%, 22%);
}

#sign a{
    color: white;
}

/*footer*/
.footer{
    background-color: #eee;
}

.boost{
   background-image: url("images/bg-boost-desktop.svg"), linear-gradient( hsl(257, 27%, 26%), hsl(257, 27%, 26%));
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 7%;
}
.boost-heading{
    color: white;
}

footer{
    background-color: hsl(255, 11%, 22%);
    height: 260px;
    margin: 0px;
    color: white;
    display: flex;
    width: 100%;
}
.shortly{
    margin: 5%;
    text-align: left;
}

.links{
    margin-top: 3%;
    margin-left: 15%;
    display: flex;
}
.features, .resources, .company{
    margin: 20px 40px;
}
h3{
    font-size: 17px;
}
.link{
    color: hsl(0, 0%, 75%);
    font-weight: normal;
}
.link a:hover{
    color: white;
}
.icons{
    display: flex;
}
.icon{
    height: 25px;
    width: 25px;
    margin: 10%;
    margin-top: 62px;
}

/*middle section*/

.statistics{
    background-color: #eee; 
    padding: 6%;
    padding-top: 10%;
    margin-top: 30px;
}
.headings{
    text-align: center;
}
.headings h3, .item h3{
    color: hsl(0, 0%, 75%);
}
.items{
    display: flex;
}
.item{
    background-color: white;
    width: 30%;
    padding: 40px;
    padding-top: 10px;
    border-radius: 5px;
    margin-top: 8%;
    height: initial;
}
.item h2{
    font-size: 25px;
}
.item img{
    background-color: hsl(255, 11%, 22%);
    padding: 15px;
    border-radius: 100%;
    transform: translateY(-60%);
}
.brand{
    margin-bottom: 14%;
}
.records{
    margin-top: 12%;
    margin-bottom: 10%;
}
.customize{
    margin-top: 16%;
    margin-bottom: 6%;
}
.line{
    height: 10px;
    width: 30px;
    background-color: hsl(180, 66%, 49%);
    margin-top: 20%;
}
@media screen and (max-width:768px) {
    #illustration-image {
        order: 1;
    }
    #buildText {
        order: 2;
    }
    #navmenu {
        background-color: hsl(257, 27%, 26%);
        position: fixed;
        top: 10%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, 0);
    }
    .nav-item {
        font-size: 25px;
        color: white;
        cursor: pointer;
    }
    #main-nav {
        border-bottom: 1px solid rgb(65, 6, 65);
    }

    .boost{
        padding: 17%;
        margin: 0px;
    }
    .boost h1{
        font-size: 20px;
    }
    .shortly{
        margin: 0;
        text-align: center;
    }
    footer{
        display: block;
        height: initial;
        text-align: center;
    }
    .links{
        display: block;
        margin: auto;
        padding: auto;
    }
    h3{
        font-size: 13px;
    }
    .icons{
        display: block;
    }
    .icon{
        height: 17px;
        width: 17px;
        margin: 5px;
    }
    .statistics{
        padding-top: 45%;
    }
    .items{
        display: block;
    }
    .item{
    width: 100%;
    text-align: center;
    }
    .item h2{
        font-size: 20px;
    }
    .item img{
        padding: 10px;
    }
    .brand{
        margin-top: 20%;
        margin-bottom: 0px;
    }
    .records, .customize{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .line{
        height: 70px;
        width: 10px;
        background-color: hsl(180, 66%, 49%);
        margin: auto;
    }
}