<nav class="py-3 px-4 navbar navbar-expand-md navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand h1" href="/">Teeny-Weeny</a>
            <button class="navbar-toggler text-white" type="button" data-bs-toggle='collapse' data-bs-target='#navmenu'>
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse text-center rounded container " id="navmenu">

                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item p-3 p-md-0">
                        <div class="btn rounded-pill nav-item text border px-3 py-1 mx-2" id="login"><a href="login">Login</a></div>
                    </li>

                    <li class="nav-item mb-5 p-md-0 mb-md-0">
                        <button class="btn rounded-pill nav-item px-3 py-1" id="sign"><a href="signup">Sign Up</a></button>
                    </li>
                </ul>

            </div>
        </div>
    </nav>