*{
    margin: 0px;
    padding: 0px;
}

button {
    background-color: hsl(180, 66%, 49%) !important;
    color:  white !important;
    border: none;
}
#input{
    background-color: white;
}
.hidden{
    display: none;
}
#input-field {
    background-image: url("images/bg-shorten-desktop.svg"), linear-gradient( hsl(257, 27%, 26%), hsl(257, 27%, 26%));
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(50%);
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: hsl(0, 0%, 75%);
    cursor: pointer;
}
a:hover{
   color: hsl(255, 11%, 22%);
}

#sign a{
    color: white;
}

.footer{
    background-color: #eee;
}

.boost, .bg-pruple{
   background-image: url("images/bg-boost-desktop.svg"), linear-gradient( hsl(257, 27%, 26%), hsl(257, 27%, 26%));
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7%;
}
.boost-heading{
    color: white;
}

/*middle section*/

.statistics{
    background-color: #eee; 
    padding: 6%;
    padding-top: 10%;
    /*margin-top: 30px;*/
}
.headings{
    text-align: center;
}
.headings h3, .item h3{
    color: hsl(0, 0%, 75%);
}
.items{
    display: flex;
}
.item{
    background-color: white;
    width: 30%;
    padding: 40px;
    padding-top: 10px;
    border-radius: 5px;
    margin-top: 8%;
    height: initial;
}
.item h2{
    font-size: 25px;
}
.item img{
    background-color: hsl(255, 11%, 22%);
    padding: 15px;
    border-radius: 100%;
    transform: translateY(-60%);
}
.brand{
    margin-bottom: 14%;
}
.records{
    margin-top: 12%;
    margin-bottom: 10%;
}
.customize{
    margin-top: 16%;
    margin-bottom: 6%;
}

.list{
    color: black;
    background-color: #eee;
    padding-top: 12%;
}
.lnk{
   display: flex;
   background-color: #f8f8f8;
   border-radius: 10px;
   font-weight: bold;
   margin-top: 10px;
   justify-content: space-between;
}
.shorted{
    color: hsl(180, 66%, 49%);   
}
.original{
    overflow: hidden;
}
#err{
    color: hsl(0, 87%, 67%);
    font-style: italic;
}
@media screen and (max-width:768px) {
    #illustration-image {
        order: 1;
    }
    #buildText {
        order: 2;
    }
    #navmenu {
        background-color: hsl(257, 27%, 26%);
        position: fixed;
        top: 10%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, 0);
    }
    .nav-item {
        font-size: 25px;
        color: white;
        cursor: pointer;
    }
    #main-nav {
        border-bottom: 1px solid rgb(65, 6, 65);
    }

    .boost{
        padding: 17%;
        margin: 0px;
    }
    .boost h1{
        font-size: 20px;
    }
    .statistics{
        padding-top: 30%;
    }
    .items{
        display: block;
    }
    .item, {
    width: 100%;
    text-align: center;
    }
    .item h2{
        font-size: 20px;
    }
    .item img{
        padding: 10px;
    }
    .brand{
        margin-top: 20%;
        margin-bottom: 0px;
    }
    .records, .customize{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .list{
        padding-top: 10%;
        height: 400px;
        overflow: scroll;
        margin-top: 70px;
    }
    .lnk{
        display: block;
       font-weight: normal;
       margin-top: 5px;
       text-align: center;
    
    }
}
